@import "../../../_css/common";

.error {
  color: red;
  margin-bottom: 15px;
}

.formWrapper {
  width: 66.66%;
  height: 44vh;

  @include mid-break {
    width: 100%;
    height: 58vh;
  }
}

.submit {
  margin-top: var(--base);
}

.message {
  margin-bottom: var(--base);
}

