@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 5.5rem;
  height: auto;
  object-fit: cover;
  @include small-break {
    width: 5rem;
  }
}